<!doctype html>
<html lang="es-mx">
    <head>
        <meta charset="utf-8" />
        <base href="/" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Site flask" />
        <meta name="author" content="co-authored by Jovani Perez" />
        <meta name="keywords" content="Equipos, Dispositivos, SNMP, Administración" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/fonts.css') }}"/>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/bootstrap-icons.css') }}"/>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>
            {% block title %}
                Flask App
            {% endblock title %}
        </title>
        <script src="{{ url_for('static', filename='js/consts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper-2.11.6.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-show-toast-1.1.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/moment-with-locales-2.29.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
        <!-- {% if debug %}
    <script async defer>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></'
            + 'script>')</script>
    {% endif %} -->
    </head>
    <body>
        {% block header %}
            <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <!-- <img class="logo"
      src="{{ url_for('static', filename='img/logo.svg') }}"
      alt="Logo"/> -->
                <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">SNMP Viewer</a>
                <button class="navbar-toggler position-absolute d-md-none collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#sidebarMenu"
                        aria-controls="sidebarMenu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if session['user'] %}
                    <input class="form-control form-control-dark w-100 rounded-0 border-0"
                           type="text"
                           placeholder="Search"
                           aria-label="Search"/>
                    <div class="navbar-nav">
                        <div class="nav-item text-nowrap">
                            <a class="nav-link px-3" href="{{ url_for('logout') }}">Salir</a>
                        </div>
                    </div>
                {% endif %}
            </header>
        {% endblock header %}
        <div class="container-fluid">
            <div class="row">
                {% block navigation %}
                    {% include "includes/navegation.html" %}
                {% endblock navigation %}
                <main class="col-md-{% block full_page %}10{% endblock full_page %} ms-sm-auto px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">{{ self.title() }}</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                                {% block tools %}
                                    <button type="button" class="btn btn-sm btn-primary">Share</button>
                                    <button type="button" class="btn btn-sm btn-secondary">Export</button>
                                {% endblock tools %}
                            </div>
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <i class="bi bi-calendar"></i>
                            This week
                        </button> -->
                        </div>
                    </div>
                    {% block content %}
                        <h1>Flask content</h1>
                    {% endblock content %}
                </main>
            </div>
        </div>
        <script>
        $(document).ready(function () {
			let url_path = "{{request.path}}";
			let url_paths = url_path.split("/");


            $("#" + url_paths[1] + "").addClass("active");
        });
        </script>
    </body>
</html>
