{% extends "/common/base.html" %}
{% block title %}
    Acceder al sistema
{% endblock title %}
{% block navigation %}
{% endblock navigation %}
{% block tools %}
{% endblock tools %}
{% block full_page %}
    12
{% endblock full_page %}
{% block content %}
    <br />
    <div class="row mt-4">
        <div class="col-md-8 mx-auto shadow p-3 mb-5 bg-light rounded">
            <form name="login-form" id="login-form" class="g-3">
                <input type="hidden"
                       id="next"
                       name="next"
                       value="{{ request.args.get('next', '') }}"/>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="mail-label">Correo electronico</span>
                    <input type="text"
                           name="mail"
                           id="mail"
                           class="form-control"
                           placeholder="local@localhost"
                           aria-label="local@localhost"
                           required
                           autofocus/>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="passwd-label">Contraseña</span>
                    <input type="password"
                           name="passwd"
                           id="passwd"
                           class="form-control"
                           placeholder="localhost"
                           aria-label="localhost"
                           required/>
                </div>
                <div class="col-12 d-grid gap-3 d-md-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </form>
            <div id="alert-container-success"
                 class="alert alert-success mt-4"
                 role="alert">
                <i class="bi bi-check"></i>&nbsp;<span id="alert-text-success">
                    {% with successes = get_flashed_messages(category_filter=["success"]) %}
                        {% if successes %}
                            {% for message in successes %}{{ message }}{% endfor %}
                        {% endif %}
                    {% endwith %}
                </span>
            </div>
            <div id="alert-container-error"
                 class="alert alert-danger mt-4"
                 role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;<span id="alert-text-error">
                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                            {% for message in errors %}{{ message }}{% endfor %}
                        {% endif %}
                    {% endwith %}
                </span>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js')}}"></script>
{% endblock content %}
