{% extends "/common/base.html" %}
{% block title %}
    404 - Página no encontrada
{% endblock title %}
{% block header %}
{% endblock header %}
{% block navigation %}
{% endblock navigation %}
{% block tools %}
{% endblock tools %}
{% block content %}
    <h1>Está página no está disponible</h1>
    <a href="{{ url_for('index') }}">Ir al inicio</a>
{% endblock content %}
