{% extends "/common/base.html" %}
{% block title %}
    Editando área
{% endblock title %}
{% block tools %}
{% endblock tools %}
{% block content %}
    {% include "/pages/area/form.html" %}
    <script src="{{ url_for('static', filename='js/areas.js')}}"></script>
    <script>
        $(document).ready(function () {
            ApplicationGlobal.on_area_added = function (json) {
                window.location.href = $(location).attr("origin") + $("#home-area-url").val();
            };
        });
    </script>
    <br/>
{% endblock content %}
