{% if area %}
    <input type="hidden"
           id="update-area-url"
           name="update-area-url"
           value="{{ url_for('api_area_update') }}"/>
    <input type="hidden"
           id="home-area-url"
           name="home-area-url"
           value="{{ url_for('areas') }}"/>
    <input type="hidden" id="area-id" name="area-id" value="{{ area.id }}"/>
{% else %}
    <input type="hidden"
           id="add-area-url"
           name="add-area-url"
           value="{{ url_for('api_area_add') }}"/>
{% endif %}
<form id="add-area-form" class="row g-3">
    <div class="input-group mb-3">
        <span class="input-group-text" id="area-name-label">Nombre del area</span>
        <input type="text"
               name="area-name"
               id="area-name"
               class="form-control"
               placeholder="AKAL-C"
               aria-label="AKAL-C"
               required
               {% if area %} value="{{ area.name }}"{% endif %}/>
    </div>
    <hr />
    <div class="row">
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button class="btn btn-primary"
                    type="button"
                    {% if not area %} id="return-device-from-area"  {% if request.endpoint.startswith('device') %} data-bs-target="#modalAddDevice" {% else %} data-bs-target="#modalAddUser" {% endif %}
                    data-bs-toggle="modal"
                    hidden
                    {% else %}
                    id="return-area"
                    {% endif %}>
                Regresar
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    id="close-area"
                    {% if area %} hidden{% endif %}>
                Cerrar
            </button>
            <button class="btn btn-success" type="submit" id="submit-area">
                {% if area %}
                    Guardar
                {% else %}
                    Agregar
                {% endif %}
            </button>
        </div>
    </div>
</form>
<div id="alert-container-error-area"
     class="alert alert-danger mt-4"
     role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
    <span id="alert-text-error-area"></span>
</div>
