{% extends "/common/base.html" %}
{% block title %}
    Areas
{% endblock title %}
{% block tools %}
    <button type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#modalAddArea">Agregar</button>
{% endblock tools %}
{% block content %}
    {% include "/pages/area/new.html" %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" width="70%">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for area in areas %}
                    <tr>
                        <th scope="row">{{ area.id }}</th>
                        <td>{{ area.name }}</td>
                        <td>
                            <a href="{{ url_for('areas_show', id_area=area.id) }}"
                               class="btn btn-secondary"
                               data-bs-toggle="tooltip"
                               data-bs-title="Ver">
                                <i class="bi bi-eye"></i>
                            </a>
                            {% if area.name != 'Sin área' %}
                                <a href="{{ url_for('areas_edit', id_area=area.id) }}"
                                   class="btn btn-primary"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a id="delete_area_{{ area.id }}"
                                   data-url="{{ url_for('api_area_delete', id_area=area.id) }}"
                                   class="btn btn-danger"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <!--<tfoot>
                <tr>
                    <td>Footer</td>
                    <td>Footer</td>
                    <td>Footer</td>
                </tr>
            </tfoot>-->
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/areas.js')}}"></script>
    <script>
        $(document).ready(function () {
            let afterDelete = sessionStorage.getItem("areaDeleted");

            if (afterDelete) {
                sessionStorage.removeItem("areaDeleted");

                bootstrap.showToast({
                    header: "Información",
                    body: "<p>Se ha eliminado el área correctamente</p>",
                    delay: 2500
                });
            }
        });
    </script>
{% endblock content %}
