{% extends "/common/base.html" %}
{% block title %}
    Visualizando área
{% endblock title %}
{% block tools %}
    <button id="return-area-show" type="button" class="btn btn-primary">Regresar</button>
{% endblock tools %}
{% block content %}
    <div class="container">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th class="w-10" scope="col"></th>
                    <th class="w-30" scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td class="fw-bold text-end">Nombre</td>
                    <td>{{ area.name }}</td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Creada</td>
                    <td id="date-created"></td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Modificada</td>
                    <td id="date-modified"></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills justify-content-center"
            id="myTab"
            role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active fw-bold"
                        id="device-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#device"
                        type="button"
                        role="tab"
                        aria-controls="device"
                        aria-selected="true">
                    Equipos
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link fw-bold"
                        id="user-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#user"
                        type="button"
                        role="tab"
                        aria-controls="user"
                        aria-selected="false">
                    Usuarios
                </button>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade show active py-4"
                 id="device"
                 role="tabpanel"
                 aria-labelledby="device-tab"
                 tabindex="0">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">IP/Mascara de red</th>
                                <th scope="col">SNMP comunidad</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in area.devices %}
                                <tr>
                                    <th scope="row">{{ device.id }}</th>
                                    <td>{{ device.name }}</td>
                                    <td>{{ device.ip_address_str }} / {{ device.mask_address_str }}</td>
                                    <td>
                                        <a href="{{ url_for('snmp_communities_show', id_community=device.snmp_credential_id) }}">{{ device.snmp_credential.data_parsed['name'] }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ url_for('devices_show', id_device=device.id) }}"
                                           class="btn btn-secondary"
                                           data-bs-toggle="tooltip"
                                           data-bs-title="Mostrar información">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade py-4"
                 id="user"
                 role="tabpanel"
                 aria-labelledby="user-tab"
                 tabindex="0">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for user in area.users %}
                                <tr>
                                    <th scope="row">
                                        {{ user.id }}
                                    </th>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>
                                        {{ user.mail }}
                                    </td>
                                    <td>
                                        **********
                                    </td>
                                    <td>
                                        {{ user.user_type.name }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('users_edit', id_user=user.id) }}"
                                           class="btn btn-primary"
                                           data-bs-toggle="tooltip"
                                           data-bs-title="Editar información">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <script>
        $(document).ready(function() {
            $("#date-created").html(convertTime("{{ area.created }}"));
            $("#date-modified").html(convertTime("{{ area.modified }}"));

            $("#return-area-show").on("click", function () {
                    history.back();
            });
        });
    </script>
{% endblock content %}
