{% extends "/common/base.html" %}
{% block title %}
    Editando equipo
{% endblock title %}
{% block tools %}
{% endblock tools %}
{% block content %}
    {% include "/pages/area/new.html" %}
    {% include "/pages/snmp_community/new.html" %}
    {% include "/pages/device/form.html" %}
    <script src="{{ url_for('static', filename='js/areas.js')}}"></script>
    <script src="{{ url_for('static', filename='js/snmp-communities.js')}}"></script>
    <script src="{{ url_for('static', filename='js/devices.js')}}"></script>
    <script>
        $(document).ready(function () {
            ApplicationGlobal.on_device_added = function (json) {
                window.location.href = $(location).attr("origin") + $("#home-device-url").val();
            };
        });
    </script>
    <br/>
{% endblock content %}
