{% if device %}
    <input type="hidden"
           id="update-device-url"
           name="update-device-url"
           value="{{ url_for('api_device_update') }}"/>
    <input type="hidden"
           id="home-device-url"
           name="home-device-url"
           value="{{ url_for('devices') }}"/>
    <input type="hidden" id="device-id" name="device-id" value="{{ device.id }}"/>
{% else %}
    <input type="hidden"
           id="add-device-url"
           name="add-device-url"
           value="{{ url_for('api_device_add') }}"/>
{% endif %}
<form id="add-device-form" class="row g-3">
    <div class="input-group mb-3">
        <span class="input-group-text" id="device-name-label">Nombre del equipo</span>
        <input type="text"
               name="device-name"
               id="device-name"
               class="form-control"
               placeholder="SW_2650"
               aria-label="SW_2650"
               required
               {% if device %} value="{{ device.name }}"{% endif %}/>
        <button class="btn btn-primary" type="button" id="get-name-snmp" disabled>
            Obtener con
            SNMP
        </button>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Dirección IP</span>
        <input type="text"
               class="form-control"
               name="device-ip"
               id="device-ip"
               pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}"
               placeholder="192.168.0.1"
               aria-label="192.168.0.1"
               required
               {% if device %} value="{{ device.ip_address_str }}"{% endif %}/>
        <select class="form-select" name="device-mask" id="device-mask">
            <option selected>
                Mascara de red...
            </option>
            {% for mask in mask_address %}
                <option value="{{ mask.mask_address }}"
                        {% if device %} {% if device.mask_address_str == mask.mask_address %} selected{% endif %}
                        {% endif %}>
                    {{ mask.mask_address }}
                </option>
            {% endfor %}
        </select>
        <select class="form-select" name="device-cidr" id="device-cidr" required>
            <option selected>
                CIDR...
            </option>
            {% for mask in mask_address %}
                <option value="{{ mask.cidr }}"
                        {% if device %} {% if device.cidr == mask.cidr %} selected{% endif %}
                        {% endif %}>
                    {{ mask.cidr }}
                </option>
            {% endfor %}
        </select>
        <input type="radio"
               class="btn-check"
               name="type_mask_ip"
               id="mask_address"
               value="mask_address"
               autocomplete="off"
               checked/>
        <label class="btn btn-secondary" for="mask_address">Mascara de red</label>
        <input type="radio"
               class="btn-check"
               name="type_mask_ip"
               id="cidr"
               value="cidr"
               autocomplete="off"/>
        <label class="btn btn-secondary" for="cidr">CIDR</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Area</span>
        <select class="form-select" name="device-area" id="device-area" required>
            <option selected>
                Seleccionar...
            </option>
            {% for area in areas %}
                <option value="{{ area.id }}"
                        {% if device %} {% if device.area_id == area.id %} selected{% endif %}
                        {% endif %}>
                    {{ area.name }}
                </option>
            {% endfor %}
        </select>
        <button class="btn btn-success"
                type="button"
                id="add-new-area"
                data-bs-target="#modalAddArea"
                data-bs-toggle="modal">
            Nueva area
        </button>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">SNMP Comunidad</span>
        <select class="form-select"
                name="device-snmp-community"
                id="device-snmp-community"
                required>
            <option selected>
                Seleccionar...
            </option>
            {% for snmp_community in snmp_communities %}
                <option value="{{ snmp_community.id }}"
                        {% if device %} {% if device.snmp_credential_id == snmp_community.id %} selected{% endif %}
                        {% endif %}>
                    {{ snmp_community.data_parsed['name'] }} ({{ snmp_community.version | replace('SNMPVersion.',
                    '') }})
                </option>
            {% endfor %}
        </select>
        <button class="btn btn-success"
                type="button"
                id="add-new-community"
                data-bs-target="#modalAddCommunity"
                data-bs-toggle="modal">
            Nueva comunidad
        </button>
    </div>
    <hr />
    <div class="row">
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button class="btn btn-primary"
                    type="button"
                    {% if not device %} hidden {% else %} id="return-device" {% endif %}>
                Regresar
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    id="close-device"
                    {% if device %} hidden{% endif %}>
                Cerrar
            </button>
            <button type="submit" class="btn btn-success" id="submit-device">
                {% if device %}
                    Guardar
                {% else %}
                    Agregar
                {% endif %}
            </button>
        </div>
    </div>
</form>
<div id="alert-container-error-device"
     class="alert alert-danger mt-4"
     role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
    <span id="alert-text-error-device"></span>
</div>
