{% extends "/common/base.html" %}
{% block title %}
    Equipos
{% endblock title %}
{% block tools %}
    <button type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#modalAddDevice">Agregar</button>
{% endblock tools %}
{% block content %}
    {% include "/pages/area/new.html" %}
    {% include "/pages/snmp_community/new.html" %}
    {% include "/pages/device/new.html" %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">IP/Mascara de red</th>
                    <th scope="col">Area</th>
                    <th scope="col">SNMP comunidad</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for device in devices %}
                    <tr>
                        <th scope="row">{{ device.id }}</th>
                        <td>{{ device.name }}</td>
                        <td>{{ device.ip_address_str }} / {{ device.mask_address_str }}</td>
                        <td>
                            <a href="{{ url_for('areas_show', id_area=device.area_id) }}">{{ device.area.name }}</a>
                        </td>
                        <td>
                            <a href="{{ url_for('snmp_communities_show', id_community=device.snmp_credential_id) }}">{{ device.snmp_credential.data_parsed['name'] }}</a>
                        </td>
                        <td>
                            <a href="{{ url_for('devices_edit', id_device=device.id) }}"
                               class="btn btn-primary"
                               data-bs-toggle="tooltip"
                               data-bs-title="Editar">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="{{ url_for('devices_show', id_device=device.id) }}"
                               class="btn btn-secondary"
                               data-bs-toggle="tooltip"
                               data-bs-title="Mostrar información">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a id="delete_device_{{ device.id }}"
                               data-url="{{ url_for('api_device_delete', id_device=device.id) }}"
                               class="btn btn-danger"
                               data-bs-toggle="tooltip"
                               data-bs-title="Eliminar">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/snmp-communities.js')}}"></script>
    <script src="{{ url_for('static', filename='js/areas.js')}}"></script>
    <script src="{{ url_for('static', filename='js/devices.js')}}"></script>
{% endblock content %}
