{% extends "/common/base.html" %}
{% block title %}
    Visualizando equipo
{% endblock title %}
{% block tools %}
    <button id="return-device-show" type="button" class="btn btn-primary">Regresar</button>
{% endblock tools %}
{% block content %}
    <div class="container">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th class="w-15" scope="col"></th>
                    <th class="w-35" scope="col"></th>
                    <th class="w-15" scope="col"></th>
                    <th class="w-35" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td class="fw-bold text-end">Nombre</td>
                    <td>{{ device.name }}</td>
                    <td class="fw-bold text-end">Creada</td>
                    <td id="date-created"></td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Dirección IP</td>
                    <td>{{ device.ip_address_str }}</td>
                    <td class="fw-bold text-end">Modificada</td>
                    <td id="date-modified"></td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Mascara de red</td>
                    <td>{{ device.mask_address_str }}</td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Comunidad</td>
                    <td>
                        <a href="{{ url_for('snmp_communities_show', id_community=device.snmp_credential_id) }}">{{ device.snmp_credential.data_parsed['name'] }}</a>
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Area</td>
                    <td>
                        <a href="{{ url_for('areas_show', id_area=device.area_id) }}">{{ device.area.name }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        {# <p class="fw-bold">Equipos asociados</p>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">IP/Mascara de red</th>
                        <th scope="col">Area</th>
<th scope="col">Acciones</th>
</tr>
</thead>
<tbody>
{% for device in device.devices %}
<tr>
<th scope="row">{{ device.id }}</th>
<td>{{ device.name }}</td>
<td>{{ device.ip_address_str }} / {{ device.mask_address_str }}</td>
<td>
<a href="{{ url_for('areas_show', id_area=device.area_id) }}">{{ device.area.name }}</a>
</td>
<td>
<a href="{{ url_for('devices_show', id_device=device.id) }}" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-title="Mostrar información">
<i class="bi bi-eye"></i>
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
#}
    </div>
    <br/>
    <script>
        $(document).ready(function() {
            $("#date-created").html(convertTime("{{ device.created }}"));
            $("#date-modified").html(convertTime("{{ device.modified }}"));

            $("#return-device-show").on("click", function () {
                    history.back();
            });
        });
    </script>
{% endblock content %}
