{% extends "/common/base.html" %}
{% block title %}
    Editando comunidad
{% endblock title %}
{% block tools %}
{% endblock tools %}
{% block content %}
    {% include "/pages/snmp_community/form.html" %}
    <script src="{{ url_for('static', filename='js/snmp-communities.js')}}"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function() {
                $("#snmp-community-version").trigger("change");

                if ($("#snmp-community-priv-value").val()) {
                    $("#snmp-community-priv-check").attr("checked", "");
                    $("#snmp-community-priv-check").trigger("change");
                }

                if ($("#snmp-community-auth-value").val()) {
                    $("#snmp-community-auth-check").attr("checked", "");
                    $("#snmp-community-auth-check").trigger("change");
                }
            }, 500);

            ApplicationGlobal.on_snmp_community_added = function (json) {
                window.location.href = $(location).attr("origin") + $("#home-snmp-community-url").val();
            };
        });
    </script>
    <br/>
{% endblock content %}
