{% if community %}
    <input type="hidden"
           id="update-snmp-community-url"
           name="update-snmp-community-url"
           value="{{ url_for('api_snmp_community_update') }}"/>
    <input type="hidden"
           id="home-snmp-community-url"
           name="home-snmp-community-url"
           value="{{ url_for('snmp_communities') }}"/>
    <input type="hidden"
           id="snmp-community-id"
           name="snmp-community-id"
           value="{{ community.id }}"/>
{% else %}
    <input type="hidden"
           id="add-snmp-community-url"
           name="add-snmp-community-url"
           value="{{ url_for('api_snmp_community_add') }}"/>
{% endif %}
<form id="add-snmp-community-form" class="row g-3">
    <div class="input-group mb-3">
        <span class="input-group-text" id="snmp-community-name-label">Nombre de la comunidad</span>
        <input type="text"
               name="snmp-community-name"
               id="snmp-community-name"
               class="form-control"
               placeholder="My public snmp"
               aria-label="My public snmp"
               required
               {% if community %} value="{{ community.data_parsed['name'] }}"{% endif %}/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Versión</span>
        <select class="form-select"
                name="snmp-community-version"
                id="snmp-community-version"
                {% if community %} disabled {% else %} required {% endif %}>
            <option selected>
                Sin versión...
            </option>
            {% for key, value in snmp_version.items() %}
                <option value="{{ value }}"
                        {% if community %} {% if community.version.value == value %} selected{% endif %}
                        {% endif %}>
                    {{ key }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div id="snmp-community-community-div" class="input-group mb-3">
        <span class="input-group-text" id="snmp-community-community-label">Comunidad</span>
        <input type="text"
               name="snmp-community-community"
               id="snmp-community-community"
               class="form-control"
               placeholder="public"
               aria-label="public"
               {% if community %}{% if community.data_parsed['info']['community'] %} value="{{ community.data_parsed['info']['community'] }}"{% endif %}
               {% endif %}
               required/>
    </div>
    <div id="snmp-community-user-div" class="input-group mb-3">
        <span class="input-group-text" id="snmp-community-user-label">Usuario (securityName)</span>
        <input type="text"
               name="snmp-community-user"
               id="snmp-community-user"
               class="form-control"
               placeholder="publicUser"
               aria-label="publicUser"
               {% if community %}{% if community.data_parsed['info']['user'] %} value="{{ community.data_parsed['info']['user'] }}"{% endif %}
               {% endif %}
               required/>
    </div>
    <div id="snmp-community-context-div" class="input-group mb-3">
        <span class="input-group-text" id="snmp-community-context-label">Contexto</span>
        <input type="text"
               name="snmp-community-context"
               id="snmp-community-context"
               class="form-control"
               placeholder="Context"
               {% if community %}{% if community.data_parsed['info']['context'] %} value="{{ community.data_parsed['info']['context'] }}"{% endif %}
               {% endif %}
               aria-label="Context"/>
    </div>
    <div id="snmp-community-auth-div" class="input-group mb-3">
        <div class="input-group-text">
            <input class="form-check-input mt-0"
                   id="snmp-community-auth-check"
                   type="checkbox"
                   value=""
                   aria-label="Auth protocol"/>
            <label class="form-check-label"
                   id="snmp-community-auth-label"
                   for="snmp-community-auth-check">
                &nbsp;&nbsp;Protocolo de
                autentificación
            </label>
        </div>
        <input type="text"
               name="snmp-community-auth-value"
               id="snmp-community-auth-value"
               class="form-control"
               placeholder="Auth key"
               aria-label="Auth key"
               required
               {% if community %}{% if community.data_parsed['info']['auth_key'] %} value="{{ community.data_parsed['info']['auth_key'] }}"{% endif %}
               {% endif %}
               disabled/>
        <div class="input-group-text">
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="snmp-community-auth-type"
                       id="snmp-community-auth-type-md5"
                       value="md5"
                       checked
                       disabled/>
                <label class="form-check-label" for="snmp-community-auth-type-md5">MD5</label>
            </div>
        </div>
        <div class="input-group-text">
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="snmp-community-auth-type"
                       id="snmp-community-auth-type-sha"
                       value="sha"
                       {% if community %}{% if community.data_parsed['info']['auth_type'] == 'sha' %} checked{% endif %}
                       {% endif %}
                       disabled/>
                <label class="form-check-label" for="snmp-community-auth-type-sha">SHA</label>
            </div>
        </div>
    </div>
    <div id="snmp-community-priv-div" class="input-group mb-3">
        <div class="input-group-text">
            <input class="form-check-input mt-0"
                   id="snmp-community-priv-check"
                   type="checkbox"
                   value=""
                   aria-label="Priv protocol"/>
            <label class="form-check-label"
                   id="snmp-community-priv-label"
                   for="snmp-community-priv-check">
                &nbsp;&nbsp;Protocolo de
                cifrado
            </label>
        </div>
        <input type="text"
               name="snmp-community-priv-value"
               id="snmp-community-priv-value"
               class="form-control"
               placeholder="Priv key"
               aria-label="Priv key"
               required
               {% if community %}{% if community.data_parsed['info']['priv_key'] %} value="{{ community.data_parsed['info']['priv_key'] }}"{% endif %}
               {% endif %}
               disabled/>
        <div class="input-group-text">
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="snmp-community-priv-type"
                       id="snmp-community-priv-type-aes"
                       value="aes"
                       checked
                       disabled/>
                <label class="form-check-label" for="snmp-community-priv-type-aes">AES&nbsp;&nbsp;</label>
            </div>
        </div>
        <div class="input-group-text">
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       name="snmp-community-priv-type"
                       id="snmp-community-priv-type-des"
                       value="des"
                       {% if community %}{% if community.data_parsed['info']['priv_type'] == 'des' %} checked{% endif %}
                       {% endif %}
                       disabled/>
                <label class="form-check-label" for="snmp-community-priv-type-des">DES</label>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button class="btn btn-primary"
                    type="button"
                    {% if not community %} id="return-device-from-snmp-community" data-bs-target="#modalAddDevice" data-bs-toggle="modal" hidden {% else %} id="return-snmp-community" {% endif %}>
                Regresar
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    id="close-snmp-community"
                    {% if community %} hidden{% endif %}>
                Cerrar
            </button>
            <button class="btn btn-success" type="submit" id="submit-snmp-community">
                {% if community %}
                    Guardar
                {% else %}
                    Agregar
                {% endif %}
            </button>
        </div>
    </div>
</form>
<div id="alert-container-error-snmp-community"
     class="alert alert-danger mt-4"
     role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
    <span id="alert-text-error-snmp-community"></span>
</div>
