{% extends "/common/base.html" %}
{% block title %}
    SNMP Comunidades
{% endblock title %}
{% block tools %}
    <button type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#modalAddCommunity">
        Agregar
    </button>
{% endblock tools %}
{% block content %}
    {% include "/pages/snmp_community/new.html" %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Version</th>
                    <th scope="col" width="50%">Datos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for snmp_community in snmp_communities %}
                    {% set snmp_version = 'V' + snmp_community.version.value|string %}
                    <tr>
                        <th class="align-middle" scope="row">{{ snmp_community.id }}</th>
                        <td class="align-middle">{{ snmp_community.data_parsed['name'] }}</td>
                        <td class="align-middle">{{ snmp_version }}</td>
                        {% if snmp_community.data_parsed['name'] == 'Sin SNMP' %}
                            <td>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Sin datos</li>
                                </ul>
                            </td>
                        {% else %}
                            {% if snmp_version == 'V1' or snmp_version == 'V2' %}
                                <td>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Comunidad">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-chat-square-text-fill"></i>
                                                {{ snmp_community.data_parsed['info']['community'] }}
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            {% else %}
                                <td>
                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Usuario">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-person-fill"></i>
                                                {{ snmp_community.data_parsed['info']['user'] }}
                                            </div>
                                        </li>
                                        <li class="list-group-item"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Contexto">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-envelope-fill"></i>
                                                {{ snmp_community.data_parsed['info']['context'] if 'context' in snmp_community.data_parsed['info'] else 'Sin contexto' }}
                                            </div>
                                        </li>
                                        <li class="list-group-item"
                                            style="width: 120px;"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Tipo de autentificación">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-key-fill"></i>
                                                {{ snmp_community.data_parsed['info']['auth_type'] if 'auth_type' in snmp_community.data_parsed['info'] else 'Ninguna' }}
                                            </div>
                                        </li>
                                        <li class="list-group-item"
                                            style="width: 120px;"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Tipo de cifrado">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-shield-lock-fill"></i>
                                                {{ snmp_community.data_parsed['info']['priv_type'] if 'priv_type' in snmp_community.data_parsed['info'] else 'Ninguno' }}
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            {% endif %}
                        {% endif %}
                        <td>
                            <a href="{{ url_for('snmp_communities_show', id_community=snmp_community.id) }}"
                               class="btn btn-secondary"
                               data-bs-toggle="tooltip"
                               data-bs-title="Ver">
                                <i class="bi bi-eye"></i>
                            </a>
                            {% if snmp_community.data_parsed['name'] != 'Sin SNMP' %}
                                <a href="{{ url_for('snmp_communities_edit', id_community=snmp_community.id) }}"
                                   class="btn btn-primary"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a id="delete_community_{{ snmp_community.id }}"
                                   data-url="{{ url_for('api_snmp_community_delete', id_community=snmp_community.id) }}"
                                   class="btn btn-danger"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <!-- <tfoot>
            <tr>
                <td>Footer</td>
                <td>Footer</td>
                <td>Footer</td>
            </tr>
        </tfoot> -->
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/snmp-communities.js')}}"></script>
    <script>
        $(document).ready(function () {
            let afterDelete = sessionStorage.getItem("communityDeleted");

            if (afterDelete) {
                sessionStorage.removeItem("communityDeleted");

                bootstrap.showToast({
                    header: "Información",
                    body: "<p>Se ha eliminado la comunidad correctamente</p>",
                    delay: 2500
                });
            }
        });
    </script>
{% endblock content %}
