{% extends "/common/base.html" %}
{% block title %}
    Visualizando comunidad
{% endblock title %}
{% block tools %}
    <button id="return-snmp-community-show" type="button" class="btn btn-primary">Regresar</button>
{% endblock tools %}
{% block content %}
    <div class="container">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th class="w-10" scope="col"></th>
                    <th class="w-30" scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td class="fw-bold text-end">Nombre</td>
                    <td>{{ community.data_parsed['name'] }}</td>
                    <td rowspan="4">
                        <div class="d-flex justify-content-center">
                            {% if community.data_parsed['name'] == 'Sin SNMP' %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Sin datos</li>
                                </ul>
                            {% else %}
                                {% if community.version.name == 'V1' or community.version.name == 'V2' %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Comunidad">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-chat-square-text-fill"></i>
                                                {{ community.data_parsed['info']['community'] }}
                                            </div>
                                        </li>
                                    </ul>
                                {% else %}
                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Usuario">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-person-fill"></i>
                                                {{ community.data_parsed['info']['user'] }}
                                            </div>
                                        </li>
                                        <li class="list-group-item"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Contexto">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-envelope-fill"></i>
                                                {{ community.data_parsed['info']['context'] if 'context' in community.data_parsed['info'] else 'Sin contexto' }}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item"
                                            style="width: 120px;"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Tipo de autentificación">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-key-fill"></i>
                                                {{ community.data_parsed['info']['auth_type'] if 'auth_type' in community.data_parsed['info'] else 'Ninguna' }}
                                            </div>
                                        </li>
                                        <li class="list-group-item"
                                            style="width: 120px;"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Tipo de cifrado">
                                            <div class="d-flex justify-content-center align-items-center flex-column fs-5">
                                                <i class="bi bi-shield-lock-fill"></i>
                                                {{ community.data_parsed['info']['priv_type'] if 'priv_type' in community.data_parsed['info'] else 'Ninguno' }}
                                            </div>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Versión</td>
                    <td>{{ community.version.name }}</td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Creada</td>
                    <td id="date-created"></td>
                </tr>
                <tr>
                    <td class="fw-bold text-end">Modificada</td>
                    <td id="date-modified"></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <p class="fw-bold">Equipos asociados</p>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">IP/Mascara de red</th>
                        <th scope="col">Area</th>
                        {# <th scope="col">SNMP comunidad</th> #}
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in community.devices %}
                        <tr>
                            <th scope="row">{{ device.id }}</th>
                            <td>{{ device.name }}</td>
                            <td>{{ device.ip_address_str }} / {{ device.mask_address_str }}</td>
                            <td>
                                <a href="{{ url_for('areas_show', id_area=device.area_id) }}">{{ device.area.name }}</a>
                            </td>
                            {# <td>
                                <a href="{{ url_for('snmp_communities_show', id_community=device.snmp_credential_id) }}">{{ device.snmp_credential.data_parsed['name'] }}</a>
                            </td> #}
                            <td>
                                <a href="{{ url_for('devices_show', id_device=device.id) }}"
                                   class="btn btn-secondary"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Mostrar información">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <script>
        $(document).ready(function() {
            $("#date-created").html(convertTime("{{ community.created }}"));
            $("#date-modified").html(convertTime("{{ community.modified }}"));

            $("#return-snmp-community-show").on("click", function () {
                    history.back();
            });
        });
    </script>
{% endblock content %}
