<nav id="sidebarMenu"
     class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a id="index"
                   class="nav-link"
                   aria-current="page"
                   href="{{ url_for('index') }}">
                    <i class="bi bi-house"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a id="information" class="nav-link" href="{{ url_for('information') }}">
                    <i class="bi bi-eyeglasses"></i>
                    Información de los equipos
                </a>
            </li>
            {% if session['type'] == 1 %}
                <li class="nav-item">
                    <a id="devices" class="nav-link" href="{{ url_for('devices') }}">
                        <i class="bi bi-display"></i>
                        Equipos
                    </a>
                </li>
                <li class="nav-item">
                    <a id="snmp_communities"
                       class="nav-link"
                       href="{{ url_for('snmp_communities') }}">
                        <i class="bi bi-person-square"></i>
                        SNMP Comunidades
                    </a>
                </li>
                <li class="nav-item">
                    <a id="users" class="nav-link" href="{{ url_for('users') }}">
                        <i class="bi bi-people"></i>
                        Usuarios
                    </a>
                </li>
                <li class="nav-item">
                    <a id="areas" class="nav-link" href="{{ url_for('areas') }}">
                        <i class="bi bi-building"></i>
                        Areas
                    </a>
                </li>
            {% endif %}
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-layers"></i>
                    Integrations
                </a>
            </li> -->
        </ul>
        <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <i class="bi bi-plus-circle"></i>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-text"></i>
                    Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-text"></i>
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-text"></i>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-file-text"></i>
                    Year-end sale
                </a>
            </li>
        </ul> -->
    </div>
</nav>
