{% if user %}
    <input type="hidden"
           id="update-user-url"
           name="update-user-url"
           value="{{ url_for('api_user_update') }}"/>
    <input type="hidden"
           id="home-user-url"
           name="home-user-url"
           value="{{ url_for('users') }}"/>
    <input type="hidden" id="user-id" name="user-id" value="{{ user.id }}"/>
{% else %}
    <input type="hidden"
           id="add-user-url"
           name="add-user-url"
           value="{{ url_for('api_user_add') }}"/>
{% endif %}
<form id="add-user-form" class="row g-3">
    <div class="input-group mb-3">
        <span class="input-group-text" id="username-label">Usuario</span>
        <input type="text"
               name="username"
               id="username"
               class="form-control"
               placeholder="adominguez"
               aria-label="adominguez"
               required
               {% if user %} value="{{ user.username }}"{% endif %}/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="mail-label">Correo electronico</span>
        <input type="text"
               name="mail"
               id="mail"
               class="form-control"
               placeholder="adominguez@domain.com"
               aria-label="adominguez@domain.com"
               required
               {% if user %} value="{{ user.mail }}"{% endif %}/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="password-label">Contraseña</span>
        <input type="password"
               name="password"
               id="password"
               class="form-control"
               placeholder="mysecurepassword"
               aria-label="mysecurepassword"
               {% if not user %} required{% endif %}/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Area</span>
        <select class="form-select" name="area" id="area" required>
            <option selected>
                Seleccionar...
            </option>
            {% for area in areas %}
                <option value="{{ area.id }}"
                        {% if user %} {% if user.area_id == area.id %} selected{% endif %}
                        {% endif %}>
                    {{ area.name }}
                </option>
            {% endfor %}
        </select>
        <button class="btn btn-success"
                type="button"
                id="add-new-area"
                data-bs-target="#modalAddArea"
                data-bs-toggle="modal">
            Nueva area
        </button>
    </div>
    <hr />
    <div class="row">
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">
            <button class="btn btn-primary"
                    type="button"
                    {% if not user %} hidden {% else %} id="return-user" {% endif %}>
                Regresar
            </button>
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    id="close-user"
                    {% if user %} hidden{% endif %}>
                Cerrar
            </button>
            <button class="btn btn-success" type="submit" id="submit-user">
                {% if user %}
                    Guardar
                {% else %}
                    Agregar
                {% endif %}
            </button>
        </div>
    </div>
</form>
<div id="alert-container-error-user"
     class="alert alert-danger mt-4"
     role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
    <span id="alert-text-error-user"></span>
</div>
