{% extends "/common/base.html" %}
{% block title %}
    Usuarios
{% endblock title %}
{% block tools %}
    {# {{ super() }}
    <button type="button" class="btn btn-sm btn-outline-secondary">Import</button> #}
    <button type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#modalAddUser">Agregar</button>
{% endblock tools %}
{% block content %}
    {% include "/pages/area/new.html" %}
    {% include "/pages/user/new.html" %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Area</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.mail }}</td>
                        <td>**********</td>
                        <td>{{ user.area.name }}</td>
                        <td>{{ user.user_type.name }}</td>
                        <td>
                            {% if user.user_type_id != 1 %}
                                <a href="{{ url_for('users_edit', id_user=user.id) }}"
                                   class="btn btn-primary"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Editar">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a id="delete_user{{ user.id }}"
                                   data-url="{{ url_for('api_user_delete', id_user=user.id) }}"
                                   class="btn btn-danger"
                                   data-bs-toggle="tooltip"
                                   data-bs-title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/areas.js')}}"></script>
    <script src="{{ url_for('static', filename='js/users.js')}}"></script>
    <script>
        $(document).ready(function () {
            let afterDelete = sessionStorage.getItem("userDeleted");

            if (afterDelete) {
                sessionStorage.removeItem("userDeleted");

                bootstrap.showToast({
                    header: "Información",
                    body: "<p>Se ha eliminado el usuario correctamente</p>",
                    delay: 2500
                });
            }
        });
    </script>
{% endblock content %}
